.upcoming-auctions {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px 4.02vw;
  color: #3d3d3e;

  &-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  &-separateur {
    width: 300px;
    height: 2px;
    margin: 20px auto;
    background: #3d3d3e;
  }

  &-description {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-subTitle {
    color: #3d3d3e;
    font-size: 18px;
    font-weight: bold;
  }

  &-btn {
    height: auto;
    font-size: 16px;
    font-weight: bold;
  }

  &-cards {
    margin: 0 -8px;
    padding: 0;

    &.empty {
      display: grid;
      flex-grow: 1;
      place-content: center;

      .empty-content {
        text-align: center;

        &-title {
          margin-top: 8px;
          color: #7c7c7c;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}
