.add-appointment-dialog {
  &.md-dialog-container.md-overlay {
    z-index: 9999;
  }

  .md-dialog {
    width: 450px;
    border-radius: 18px;
  }

  .md-title--dialog {
    padding: 12px 24px;
    text-align: center;
  }

  .md-dialog-content--padded {
    padding: 0 24px 12px;
  }

  &-title {
    color: #3d3d3e;
    font-size: 16px;
    font-weight: bold;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #5078e1;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.09;
    gap: 12px;

    .md-icon {
      color: #5078e1;
      font-size: 22px;
    }
  }

  .dateWrapper {
    margin-bottom: 4px;

    .label {
      margin-bottom: 4px;
      font-size: 12px;
    }
  }

  .selectField {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);

    .md-select-field--btn {
      padding-right: 16px;
      padding-left: 16px;
    }

    .md-icon {
      color: #5078e1;
    }
  }

  .textField {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);

    .md-icon {
      color: #5078e1;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    gap: 8px;

    .md-btn {
      width: 120px;
      height: 40px;
      padding: 8px;
      border-radius: 8px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
      font-size: 12px;
      font-weight: bold;

      &.cancel-btn {
        background-color: #fff;
        color: #7c7c7c;
      }
    }
  }

  .time-chip {
    flex: 1 0 30%;
    padding: 8px 10px;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);
    font-weight: 600;
    text-align: center;
    cursor: pointer;

    &.selected {
      border-color: #5078e1;
      color: #5078e1;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 8px;
      overflow: auto;
      gap: 10px;
    }
  }
}
