.countdown-timer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 5px 12px;
  border-radius: 0 12px 12px 0;
  background-color: white;
  color: #5078e1;

  .time-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}

.details-slider {
  width: 60vw;
  height: 100vh;
  border-radius: 50px;

  .slick-list {
    border-radius: 50px;
  }

  .slick-prev {
    left: 2.02vw;
  }

  .slick-next {
    right: 2.02vw;
  }

  .slide-elements {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;

    > img {
      width: 100%;
      height: 100%;
      opacity: 0.7;
      object-fit: cover;
    }

    &-header {
      display: flex;
      position: absolute;
      top: 30px;
      justify-content: space-between;
      width: 100%;

      &-save-btn {
        margin: 0 20px;
        padding: 0;
        border-radius: 10px;
        background-color: #fff;
      }
    }
  }
}

html[dir='rtl'] {
  .countdown-timer {
    border-radius: 0 12px 12px 0;
  }
}
