.auction-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 375px;
  height: auto;
  margin-bottom: 12px;
  padding: 12px 14px;
  border-radius: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
  gap: 12px;

  &.active {
    border: 1px solid #527bde;
  }

  .auction-image {
    position: relative;
    border-radius: 16px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);

    img {
      width: 170px;
      height: 120px;
      border-radius: 16px;
    }

    .save-btn {
      position: absolute;
      top: 8px;
      right: 16px;
      width: 30px;
      height: 30px;
      padding: 0;
      border-radius: 10px;
      background-color: #fff;

      .md-icon {
        font-size: 20px;
      }
    }
  }

  .title {
    color: #3d3d3e;
    font-size: 14px;
    font-weight: bold;
  }

  .description {
    margin-bottom: 4px;
    font-weight: 300;
  }

  .sep {
    width: 75%;
    height: 1px;
    background-color: #3d3d3e;
  }

  .countdown {
    width: max-content;
    padding: 6px 13px;
    border: solid 1px #3d3d3e;
    border-radius: 11px;
    gap: 5px;
  }
}
