.slick-slider {
  position: relative;

  .slick-prev {
    right: auto;
    left: 4.02vw;
  }

  .slick-next {
    right: 4.02vw;
    left: auto;
  }

  .slick-list {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slick-arrow {
    z-index: 99;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;

    &::before {
      display: none;
    }

    &.slick-disabled {
      opacity: 0.5;
    }

    &:hover,
    &:focus {
      color: #fff;
    }
  }

  .slide-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;

    img {
      width: 100%;
      height: 100%;
      opacity: 0.7;
    }

    &-defaultSection {
      position: absolute;
      z-index: 9;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
      color: #fff;
    }
  }

  .data-section {
    position: absolute;
    bottom: 6vh;
    left: 4.02vw;
    color: #fff;
    font-size: 25px;
    text-align: left;
    direction: ltr;

    &-title {
      font-size: 20px;
      font-weight: bold;
    }

    &-separateur {
      width: 150px;
      height: 2px;
      margin: 4px 0;
      background: #fff;
    }

    &-text {
      font-size: 20px;
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      margin-top: 4px;
      padding: 10px 20px;
      border: 2px solid #0000;
      border-radius: 14px;
      font-size: 16px;
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  .auction-timer {
    padding: 5px 0;
    background: transparent;
    font-size: 20px;
    font-weight: 500;

    &.active {
      background: none;
      box-shadow: none;
    }

    &.inactive {
      box-shadow: none;
    }

    .timer {
      display: flex;
      justify-content: space-evenly;
      color: #3d3d3e;
      font-size: 48px;
    }

    &-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

      .sep {
        width: 1px;
        height: 35px;
        background: #d6d1d1;
      }
    }

    &-info {
      flex: 1;
      color: #7c7c7c;
      font-size: 25px;
      text-align: center;

      strong {
        color: #3d3d3e;
        font-size: 16px;
        font-weight: 700;
      }
    }

    .countdown {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
      border: none;
      gap: 4px;

      &-element {
        .value {
          color: #fff;
          font-size: 20px;
          font-weight: normal;
        }

        .label {
          color: #fff;
          font-size: 20px;
          font-weight: normal;
        }
      }

      &-separator {
        color: #fff;
        font-size: 20px;
        font-weight: normal;
      }
    }
  }
}
