.auctions-filter {
  align-items: center;

  &-textField {
    padding: 12px 16px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
  }

  &-selectField {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);

    .md-text-field {
      padding: 12px 16px;
    }
  }

  .price-range {
    &-textField {
      border: 2px solid rgba(0, 0, 0, 0.18);
      border-radius: 5px;
    }
  }
}
