.upload-images {
  .md-dialog-container {
    .md-background--card {
      max-height: calc(100% - 48px);
    }
  }

  &-drop-zone {
    padding: 40px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    text-align: center;
    cursor: pointer;

    .material-icons.md-icon {
      color: #5078e1;
      font-size: 40px;
    }
  }

  &-uploaded-title {
    color: #7c7c7c;
    font-size: 18px;
    font-weight: 500;

    > b {
      color: #5078e1;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;

    &-content {
      padding-left: 16px;
      color: rgba(0, 0, 0, 0.54);
      font-size: 16px;
      font-weight: bold;
    }

    &-button {
      display: flex;
      align-items: center;

      &:hover {
        background-color: white;
      }

      .icon {
        margin-right: 5px;
        padding: 5px;
        border-radius: 50%;
        background-color: #e2f2fa;
        color: #1979ff;
        font-size: 20px;
        font-weight: 900;
      }
    }
  }

  &-content {
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;

    .upload-images {
      display: flex;
      flex-grow: 1;
      align-items: center;
      padding: 0 5px;
      border: solid 1px #eaeaea;
      border-radius: 4px;

      .close-btn {
        order: 2;
        color: #7a839f;
        font-size: 20px;
      }

      .box {
        display: flex;
        flex-grow: 1;
        order: 1;
        gap: 8px;

        .mdi-file-pdf {
          font-size: 35px;
        }

        .file {
          display: flex;
          flex-direction: column;
          justify-content: center;

          &-name {
            color: #2f3842;
            font-size: 14px;
            text-align: center;
          }

          &-size {
            color: #727677;
            font-size: 12px;
          }
        }
      }
    }

    .img-item {
      justify-content: center;
      margin: 10px;
      padding: 5px;
      background-color: #f1f1f1;

      .icons {
        margin-top: 10px;
        text-align: center;
      }

      .docs-icon-area {
        text-align: center;
      }
    }

    .images {
      display: inline-block;
      position: relative;
      margin: 5px;
      border: 1px solid #eaeaea;
      border-radius: 8px;

      .cover-tag {
        display: flex;
        position: absolute;
        top: 10px;
        left: 20px;
        align-items: center;
        justify-content: center;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 10px;
        background-color: rgb(64, 194, 118);
        box-shadow: 0 3px 5px 0 rgba(#000, 0.16);
        color: #fff;
        font-size: 14px;
      }

      .cover {
        position: absolute;
        width: 300px;
        height: 200px;
        border-radius: 12px;

        .button-cover {
          display: none;
        }

        &:hover {
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          background-color: rgba(221, 221, 221, 0.411);
          cursor: pointer;

          .button-cover {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 16px;
            border-radius: 18px;
            background-color: #fff;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
            color: #7c7c7c;
            font-weight: 700;
          }
        }
      }

      .docs-icon-area {
        margin: 20px;
        text-align: center;
      }

      .imgPdfWrapper {
        .react-pdf__Page {
          .react-pdf__Page__canvas {
            width: 100px !important;
            height: 150px !important;
            object-fit: fill !important;
          }

          .react-pdf__Page__textContent {
            width: 150px !important;
            height: 150px !important;
            overflow: hidden;
          }
        }
      }

      img {
        width: 300px;
        height: 200px;
        border: 1px solid #ddd;
        border-radius: 7px;
        object-fit: cover;
      }

      .xlsx-doc,
      .word-doc {
        font-size: 150px;
      }

      .btn {
        position: absolute;
        z-index: 1;
        top: 5px;
        right: 5px;
        padding: 5px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.54);
        color: white;
        font-size: 18px;
        cursor: pointer;
      }

      .preview-btn {
        position: absolute;
        z-index: 1;
        top: 5px;
        right: 75px;
        padding: 5px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.54);
        color: white;
        font-size: 20px;
        cursor: pointer;
      }

      .download-btn {
        position: absolute;
        z-index: 1;
        top: 5px;
        right: 40px;
        padding: 5px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.54);
        color: white;
        font-size: 20px;
        cursor: pointer;
      }

      .setDefaultBtn {
        position: absolute;
        top: 5px;
        left: 5px;
        background: rgba($color: #000, $alpha: 0.1);

        &.md-btn--icon {
          color: #fff;
        }

        &.md-text--theme-primary {
          color: #1979ff;
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  .color-mdi-file-pdf {
    color: red;
  }

  .with-default {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.54);
    cursor: pointer;

    > div {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.54);
    }

    &.selected {
      border-color: #1979ff;

      > div {
        background-color: #1979ff;
      }
    }
  }
}
