.feesDialog {
  .md-paper {
    width: 25%;
    border-radius: 15px;
  }

  .content {
    &-title {
      display: flex;
      align-items: center;
      justify-content: center;

      > div {
        color: #3d3d3e;
        font-size: 18px;
        font-weight: bold;
        justify-self: center;
      }

      .md-icon {
        position: absolute;
        right: 6%;
        margin-left: auto;
        color: #3d3d3e;
        cursor: pointer;
      }
    }

    > p {
      text-align: center;
    }
  }
}
