.auction-details-form {
  .dateWrapper {
    position: relative;

    .due-date-container {
      position: absolute;
      z-index: 999;
    }
  }

  .map {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);

    .textField-map {
      padding: 20px 16px;

      .md-text-field {
        font-size: 18px;
      }
    }
  }
}
