.display-grid {
  display: grid;
  grid-template-columns: 440px 1fr;
  height: 100vh;
  padding: 15px;

  .cards {
    width: 440px;
    padding: 12px 20px;
    overflow: auto;
    border-radius: 12px 0 0 12px;
    background-color: #fff;

    &::-webkit-scrollbar-track {
      visibility: hidden;
      // box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 3px;
      opacity: 0;
      background-color: #eaeaea;
    }

    &::-webkit-scrollbar {
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      width: 5px;
      height: 100%;
      transition: all 400ms;
      opacity: 0;
      background-color: #eaeaea;
    }

    &::-webkit-scrollbar-thumb {
      visibility: hidden;
      border-radius: 3px;
      background-color: #cecbcb;
      // opacity: 0;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    }

    &:hover {
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-thumb {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .map {
    position: relative;
    height: 100%;

    .target-gis-map-main {
      height: 100%;
      border-radius: 0 12px 12px 0;
    }
  }

  .pin-label {
    width: 150px;
    padding: 9px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);

    > img {
      width: 100%;
      margin-bottom: 5px;
      border-radius: 12px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    }

    .title {
      color: #3d3d3e;
      font-size: 14px;
      font-weight: bold;
    }

    .city {
      color: #3d3d3e;
      font-size: 12px;
      font-weight: 300;
    }

    .viewBtn {
      width: 100%;
      height: 30px;
      margin-top: 5px;
      border-radius: 10px;
      background-color: #5078e1;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }
  }
}
