.profile-page {
  display: flex;
  padding: 60px 4.02vw;

  &-left {
    position: relative;

    .vertical-sep {
      position: absolute;
      top: 0;
      right: 0;
      width: 3px;
      height: 100%;
      border-radius: 10px;
      background-color: #e3e3e3;
    }
  }
}
