.notifPanel {
  // position: absolute;
  // top: 70px;
  // right: 120px;
  width: max-content;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);

  &-item {
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border-bottom: 1px solid #dbdbdb;
    gap: 12px;

    &-data {
      position: relative;

      .label {
        color: #3d3d3e;
        font-size: 14px;
        font-weight: 500;
      }

      .date {
        color: #3f3f3fcf;
        font-size: 13px;
        font-weight: 300;
      }

      // &::before {
      //   content: '';
      //   display: block;
      //   position: absolute;
      //   top: 16px;
      //   right: -12px;
      //   width: 6px;
      //   height: 6px;
      //   border-radius: 50%;
      //   background-color: #5078e1;
      // }
    }
  }

  &-action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 0;
  }

  .load-more {
    padding: 6px 16px;
    font-size: 14px;
    font-weight: normal;
  }

  .notifPoint {
    display: block;
    position: absolute;
    top: -12px;
    right: -6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5078e1;
  }
}
