.how-it-works {
  &-header {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;

    &-image-bg {
      width: 100%;
      height: 80%;
      object-fit: cover;
    }

    &-title {
      position: absolute;
      top: 50%;
      width: 100%;
      color: #fff;
      font-size: 35px;
      font-weight: bold;
      text-align: center;
    }
  }

  &-body {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 50px;
    padding: 20px 80px;

    .tabs-select {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 5px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

      > .active {
        color: #5078e1;
        font-size: 22px;
        font-weight: 500;

        > span {
          &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: -5px;
            width: 4px;
            height: 25px;
            border-radius: 0 8px 8px 0;
            background-color: #5078e1;
          }
        }
      }

      > .inactive {
        color: #7c7c7c;
        font-size: 22px;
        font-weight: normal;
      }
    }

    .md-expansion-panel {
      margin-bottom: 10px;
      border-radius: 8px;

      &.md-paper--1 {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      }

      .md-panel-column {
        color: #3d3d3e;
        font-size: 22px;
        font-weight: bold;
      }

      .md-icon {
        color: #3d3d3e;
        font-size: 28px;
      }

      .md-panel-header--expanded {
        border-bottom: 1px solid #eee;
      }

      .md-panel-content {
        padding: 16px 24px 16px;
      }

      .content {
        &-title {
          color: #3d3d3e;
          font-size: 22px;
          font-weight: 500;
        }

        &-description {
          color: #7c7c7c;
          font-size: 22px;
          font-weight: normal;
        }
      }
    }

    .md-expansion-panel--expanded:not(:first-child) {
      margin-top: 0;
    }
  }
}
