.module-container {
  display: flex;
  width: calc(100vw - 56px);
  height: 100%;
  // overflow-y: auto;
  background: #f0f2f5;

  &-right {
    width: calc(100vw - 380px + 56px);
    height: 100%;
    overflow-y: auto;

    &.leftPanelHidden {
      width: 100vw;
    }
  }
}

.auction-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  overflow: auto;

  .footer {
    margin-top: auto;
  }

  .table-paginator {
    align-self: center;
    justify-self: center;
    width: fit-content;
  }
}
