/* stylelint-disable */
.auction-details {
  padding: 0 4.02vw !important;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-action {
    height: auto;
    margin-left: 8px;
    padding: 8px 24px;
    border-radius: 15px;

    &.md-background--primary {
      background-color: #78deb3;
    }

    &.md-background--secondary {
      background-color: #f00;
    }
  }

  &-info {
    align-self: flex-start;

    &-header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 50px;

      &-status {
        padding: 4px 14px;
        border-radius: 14px;
        font-size: 14px;
        font-weight: 500;

        &.Approved {
          background-color: #dff4eb;
          color: #78deb3;
        }

        &.Rejected {
          background-color: #fc0d1b;
          color: #ffced1;
        }
      }
    }
  }

  .title {
    color: #3d3d3e;
    font-size: 35px;
    font-weight: 700;
  }

  .note {
    font-size: 16px;
  }

  .auction-timer {
    &.active {
      .countdown {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 2px solid #3d3d3e;
        border-radius: 13px;
        // gap: 18px;

        &-element {
          .value {
            color: #3d3d3e;
            font-size: calc(16px + 1.7vw);
            font-weight: normal;
          }

          .label {
            color: #3d3d3e;
            font-size: calc(16px + 1.7vw);
            font-weight: normal;
          }
        }

        &-separator {
          color: #3d3d3e;
          font-size: calc(16px + 1.7vw);
          font-weight: normal;
        }
      }
    }
  }

  &-card {
    padding: 30px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    color: #7c7c7c;
    font-size: 22px;
    font-weight: 500;

    &-details {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-item {
        display: flex;
        gap: 8px;
        align-items: center;
      }
    }

    strong {
      color: #3d3d3e;
    }
  }

  .center-text {
    text-align: center;
  }

  .gallery-image {
    max-width: 100%;
    border-radius: 45px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    aspect-ratio: 1 / 1;
    object-fit: cover;

    &-wrapper {
      display: flex;
      align-items: center;
      padding: 8px;
      overflow: auto;
      gap: 16px;
    }

    &.item {
      flex: 0 0 calc(25% - 12px);
      width: calc(25% - 12px);
      border-radius: 30px;
    }
  }

  &-btn {
    width: 100%;
    height: auto;
    padding: 16px;
    border-radius: 16px;
    font-size: 25px;
    font-weight: 700;
  }

  .view-map-btn {
    font-size: 22px;

    .md-icon-text {
      font-weight: 600;
    }
  }
}

.owner-card {
  display: flex;
  align-items: center;
  gap: 16px;

  &-avatar {
    width: 80px;
    height: 80px;
    border-radius: 14px;
  }

  &-btn {
    width: auto;
    height: auto;
    border-radius: 16px;
  }

  &-info {
    flex-grow: 1;
    color: #7c7c7c;
    font-size: 28px;
    font-weight: 500;

    .name {
      color: #3d3d3e;
    }
  }
}

.key-features {
  margin: 8px 0 !important;
  padding: 30px;
  border-radius: 35px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);

  &-title {
    margin-bottom: 16px;
    color: #3d3d3e;
    font-size: 30px;
    font-weight: 500;
  }

  &-content {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-item {
    display: flex;
    align-items: center;
    color: #7c7c7c;
    font-size: 20px;
    font-weight: 500;
    gap: 8px;
  }
}

.fees-commission {
  margin: 8px 0 !important;
  padding: 30px;
  border-radius: 35px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);

  &-title {
    margin-bottom: 16px;
    color: #3d3d3e;
    font-size: 30px;
    font-weight: 500;
  }

  &-content {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-item {
    color: #7c7c7c;
    font-size: 20px;
    font-weight: 400;

    .value {
      font-size: 30px;
      font-weight: 500;
    }
  }
}
