.profile-menu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;

  //border-right: 2px solid #e3e3e3;
  .drop-image {
    width: 200px;
    height: 200px;
    background: red;
  }

  &-actions {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0 0 0;

    .md-btn {
      width: 30px;
      height: 30px;
      padding: 5px;

      &.md-background--primary {
        background: #2b3;
      }

      &.md-background--secondary {
        background: #bb2124;
      }
    }
  }

  .avatar-container {
    position: relative;

    .avatar-loading-wrapper {
      display: grid;
      position: absolute;
      top: 0;
      left: 0;
      width: 82px;
      height: 82px;
      border-radius: 50%;
      background: rgba($color: #fff, $alpha: 0.1);
      backdrop-filter: blur(10px);
      place-content: center;
    }

    > .edit-btn {
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border-radius: 50%;

      .md-btn {
        all: inherit;
        background-color: #5078e1;
      }

      .md-icon-text {
        display: none;
      }

      .md-icon {
        color: #fff;
        font-size: 14px;
      }

      // .hidden-label {
      //   display: none;
      // }
    }
  }

  &-avatar {
    width: 82px;
    height: 82px;
    margin-bottom: 4px;
    border: none;

    .md-avatar-img {
      width: 100%;
    }

    .md-avatar {
      border: none;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    }
  }

  &-fullName {
    color: #3d3d3e;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.86;
  }

  &-email {
    color: #3d3d3e;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
  }

  &-infoBtn {
    width: 100%;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    text-align: left;

    &.active {
      color: #5078e1;

      span {
        position: relative;

        &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: 1;
          top: 50%;
          right: 0;
          width: 3px;
          height: 24px;
          margin-top: -12px;
          border-radius: 10px;
          background-color: #527bde;
        }
      }
    }
  }
}

.change-email-dialog {
  &.md-background--card {
    width: 400px;
    border-radius: 30px;
  }

  .md-dialog-content--padded {
    padding: 24px 24px;
    // height: 300px;
    overflow: visible;

    &::-webkit-scrollbar {
      visibility: visible;
      position: absolute;
      top: 0;
      right: 0;
      width: 42px;
      height: 100%;
      transition: all 400ms;
      opacity: 1;
    }

    &::-webkit-scrollbar-track {
      visibility: visible;
      height: 100%;
      border: 15px solid #fff;
      border-radius: 30px;
      opacity: 1;
      background-color: #d0d0d0;
    }

    &::-webkit-scrollbar-thumb {
      visibility: visible;
      border: 15px solid transparent;
      border-radius: 30px;
      background-color: #7c7c7c;
      background-clip: content-box;
    }

    &:hover {
      &::-webkit-scrollbar-track,
      &::-webkit-scrollbar,
      &::-webkit-scrollbar-thumb {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .md-dialog-footer {
    justify-content: center;
    padding-top: 10px;
    border-top: none;

    span {
      margin: 0;
    }
  }

  h2 {
    color: #3d3d3e;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .change-num-selectField {
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    .md-ink-container {
      display: none;
    }

    .country-code {
      flex-shrink: 0;

      .md-icon-text {
        width: 80px;
      }

      &[aria-expanded='true'] {
        .md-icon-separator {
          .md-icon {
            transform: rotate(180deg);
          }
        }
      }
    }

    .md-paper--1 {
      box-shadow: none;
    }

    &.phone-field {
      display: flex;
      position: relative;
      align-items: center;
      width: 100%;
      border-radius: 12px;
      background-color: #fff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
      gap: 8px;

      &.visible {
        z-index: 9;
      }

      .countries-dropdown {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .sep {
        width: 2px;
        height: 30px;
        background-color: #ddd;
      }

      .customSelect_wrapper_list,
      .customSelect_wrapper {
        position: unset;
      }

      .list-itemMultiPick {
        margin-top: -11px;
        border-radius: 0 0 12px 12px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.18);

        &::-webkit-scrollbar {
          visibility: visible;
          position: absolute;
          top: 0;
          right: 0;
          width: 15px;
          height: 100%;
          transition: all 400ms;
          opacity: 1;
        }

        &::-webkit-scrollbar-track {
          visibility: visible;
          height: 100%;
          border: 5px solid #fff;
          border-radius: 12px;
          opacity: 1;
          background-color: #d0d0d0;
          box-shadow: none;
        }

        &::-webkit-scrollbar-thumb {
          visibility: visible;
          border: 5px solid transparent;
          border-radius: 12px;
          background-color: #7c7c7c;
          box-shadow: none;
          background-clip: content-box;
        }

        &:hover {
          &::-webkit-scrollbar-track,
          &::-webkit-scrollbar,
          &::-webkit-scrollbar-thumb {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
