.notifications {
  &-title {
    color: #3d3d3e;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .blue-text {
    color: #5078e1;
    font-size: 16px;
  }

  // .md-cell {
  //   margin: 8px 35px;
  // }

  &-container {
    justify-content: flex-end;

    &-filter {
      .searchTextField {
        width: 80%;
        padding: 13px 17px;
        border-radius: 12px;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

        .md-icon {
          color: #5078e1;
        }

        .md-text-field-icon-container {
          align-items: center;
          justify-content: space-between;

          .md-text-field {
            color: #5078e1;
          }
        }
      }

      .filer-box {
        width: 80%;
        border-radius: 12px;
      }

      .markAllRead-btn {
        width: 80%;
        height: 45px;
        margin: auto;
        border-radius: 12px;
        background-color: #fff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
        color: #5078e1;
        font-weight: 500;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 0;

      .load-more {
        height: auto;
        padding: 12px 16px;
        border: solid 1px #527bde;
        border-radius: 6px;
        background-color: transparent;
        color: #5078e1;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
