.payment-dialog {
  .md-dialog {
    width: 420px;
    border-radius: 30px;
    text-align: center;
  }

  .md-title {
    justify-content: center;
    color: #3d3d3e;
    font-size: 18px;
    font-weight: bold;
  }

  .md-dialog-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .md-btn {
    flex: 0 1 40%;
    height: 50px;
    padding: 16px;
    border-radius: 14px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    font-size: 16px;
    font-weight: bold;

    &.cancel-btn {
      color: #7c7c7c;
    }
  }
}
