.auction-list {
  padding: 0 4.02vw;

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #707070;
    font-size: 18px;
    font-weight: 500;
    gap: 10px;

    span {
      color: #5078e1;
    }

    .title {
      color: #3d3d3e;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .top-bar-menu {
    &.md-btn {
      padding: 6px;
    }

    .md-icon {
      color: #5078e1;
      font-size: 30px;
    }
  }

  .edit-list {
    padding: 8px;
    border-radius: 12px;

    .md-text {
      color: #7c7c7c;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .auction-details {
    &-info {
      display: flex;
    }

    &-description {
      display: flex;
      //  align-items: center;
      padding: 5px 0;
      color: #7c7c7c;
      font-size: 18px;
      font-weight: 500;

      label {
        font-weight: 700;
      }

      &-textField {
        display: flex;
        flex-direction: row;
        margin: 20px 0;
        padding: 17px;
        border-radius: 12px;
        background-color: #fff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
        gap: 8px;

        .md-floating-label {
          position: relative;
          transform: none;
          color: #7c7c7c;
          font-size: 18px;
          font-weight: 700;
          line-height: 23px;
        }

        .md-text-field-multiline-container {
          flex-grow: 1;
        }

        .md-text-field {
          color: #7c7c7c;
          font-size: 18px;
          font-weight: 500;
        }

        .add-btn {
          color: #5078e1;
          font-size: 16px;
          font-weight: bold;

          .md-icon-text:last-child {
            padding-left: 6px;
          }
        }
      }
    }

    &-form {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      flex-grow: 1;
      gap: 100px;

      &-label {
        margin: 4px 0;
        color: #7c7c7c;
        font-size: 16px;
        font-weight: bold;
      }

      .column {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-textField {
        display: flex;
        position: relative;
        flex: 1 0 calc(33% - 10px);
        align-items: center;
        padding: 5px 0;
        gap: 8px;

        // &:not(.md-text-field-container--disabled) {
        //   // box-shadow: 0 1px 0 0 #707070;

        //   &:focus-within {
        //     // box-shadow: 0 1px 0 0 #1979ff;
        //   }
        // }

        .md-floating-label {
          position: relative;
          transform: none;
          color: #7c7c7c;
          font-size: 16px;
          font-weight: 700;
        }

        .md-text-field {
          color: #7c7c7c;
          font-size: 16px;
          font-weight: 500;
        }
      }

      .date-picker {
        display: flex;
        position: absolute;
        z-index: 999;
        top: 35px;
        gap: 8px;
        right: 0;

        .md-background--card {
          border-radius: 8px;
        }

        .md-paper--2 {
          border-radius: 8px;
        }
      }

      .row {
        display: flex;
        align-items: center;
        gap: 8px;

        .selectField-lined {
          flex: 1 0 calc(33% - 10px);

          .md-paper--1 {
            box-shadow: none;
          }

          .md-select-field--btn {
            height: 30px;
            padding: 6px 0 6px;
          }

          .md-text-field {
            color: #7c7c7c;
            font-size: 16px;
            font-weight: 500;
          }

          .md-select-field {
            .md-icon {
              display: none;
            }
          }

          .md-list--menu-restricted {
            max-height: 166px;
          }
        }

        // &.outlined {
        //   // .md-select-field--btn {
        //   //   height: 30px;
        //   //   padding: 6px 0 6px;
        //   // }
        // }

        &.underlined {
          position: relative;

          &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 1px;
            width: 100%;
            height: 1px;
            background-color: #3d3d3e;
          }
        }
      }
    }

    &-subTitle {
      margin: 8px 0;
      color: #3d3d3e;
      font-size: 18px;
      font-weight: bold;
    }

    &-imagesWrapper {
      display: flex;
      gap: 25px;
      margin: 8px 0;
    }

    &-img {
      flex: 0 0 20%;
      height: 200px;
      border-radius: 12px;
      object-fit: cover;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    }

    &-buttonWrapper {
      display: flex;
      justify-content: flex-end;
      padding: 8px 0;

      .md-btn {
        color: #5078e1;
      }
    }

    &-table {
      width: 100%;
      margin: 20px 0 10px;
      padding: 20px 30px;
      border-radius: 35px;
      background-color: #fff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
      color: #7c7c7c;
      font-size: 18px;
      font-weight: 700;

      &-header {
        display: grid;
        grid-template-columns: 21% 29% 20% 10% 10% 10%;

        > div {
          padding: 0 15px;
          color: #3d3d3e;
          font-size: 16px;
          font-weight: bold;
        }
      }

      &-row {
        display: grid;
        grid-template-columns: 21% 29% 20% 10% 10% 10%;
        margin-top: 20px;
        border-radius: 17px;
        background-color: #f8f8f8;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);

        > div {
          padding: 25px 15px;
          font-weight: 500;
          word-break: break-word;
        }

        &.highlighted {
          background-color: #78deb3;

          > div {
            color: #fff;
          }
        }
      }
    }

    &-bidderWrapper {
      margin-bottom: 30px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 12px 0;
    gap: 12px;

    .saveBtn {
      width: 120px;
      height: 50px;
      border-radius: 14px;
      background-color: #5078e1;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
      color: #fff;
      font-size: 16px;
      font-weight: bold;
    }

    .cancelBtn {
      width: 120px;
      height: 50px;
      border: solid 2px #527bde;
      border-radius: 14px;
      background-color: transparent;
      color: #5078e1;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .upload-images-content .images img {
    border: none;
    border-radius: 12px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    object-fit: cover;
  }

  .upload-images-title-content {
    padding-left: 0;
    color: #7c7c7c;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
  }

  .show-less {
    display: none;
  }

  .show-more {
    display: block;
  }

  .target-date-picker-datepicker {
    position: relative;
  }
}

.delete-img {
  margin-top: 8px;
}

.delete-msg {
  margin-top: 16px;
  color: #3d3d3e;
  font-size: 18px;
  font-weight: bold;
}
