.confirm-dialog {
  justify-content: center;

  .md-dialog {
    width: 380px;
    border-radius: 30px;
    text-align: center;
  }

  .md-title {
    display: flex;
    justify-content: flex-end;
    padding: 4px;
  }

  .md-dialog-content--padded {
    padding: 8px 16px 16px;
  }

  &-information {
    text-align: center;

    .illustration {
      margin-bottom: 8px;
    }

    .avatar {
      width: 80px;
      height: 80px;
      margin-bottom: 16px;
    }

    .title {
      margin-bottom: 8px;
      color: #000;
      font-size: 18px;
      font-weight: bold;
    }
  }

  &-button {
    height: auto;
    border-radius: 10px;

    &.md-btn {
      margin-top: 16px;
      text-transform: none;
    }
  }

  .md-dialog-footer {
    justify-content: center;
    border-top: 0;

    .md-background--secondary {
      background-color: #d82731;
    }
  }
}
