.auction-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 4.02vw;

  &-header {
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 44%);
    font-size: 18px;
    font-weight: 500;
    gap: 10px;

    &-filters {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-end;

      &-display {
        display: flex;
        align-items: center;
        order: 0;
        margin-top: 28px;
        gap: 8px;

        .sep {
          width: 1px;
          height: 20px;
          background-color: #c9c9c9;
        }

        .gridView {
          color: #b2b2b2;
          font-size: 30px;

          &.active {
            color: #5078e1;
          }
        }
      }
    }

    span {
      color: #5078e1;
    }

    // .title {
    //   color: #3d3d3e;
    //   font-size: 35px;
    //   font-weight: 700;
    // }
  }

  &-cards {
    flex-grow: 1;
    align-items: flex-start;
    width: 100%;

    &.empty {
      display: grid;
      place-items: center;
    }

    .empty-content {
      margin: auto;
      padding: 50px 0;
      text-align: center;

      &-title {
        color: #7c7c7c;
        font-size: 14px;
        font-weight: bold;
      }

      &-text {
        color: #7c7c7c;
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
}
