.top-up-dialog {
  .md-dialog {
    width: 450px;
    border-radius: 35px;
  }

  .md-title {
    display: flex;
    justify-content: center;
    color: #3d3d3e;
    font-size: 18px;
    font-weight: bold;
  }

  &-information {
    .label {
      margin-bottom: 10px;
      color: #7c7c7c;
      font-size: 16px;
      font-weight: 500;
    }

    .textField-withShadow {
      margin-bottom: 10px;
      border: 1px solid #fff;
      border-radius: 18px;
      color: #7c7c7c;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;

      &.active {
        border: 1px solid #5078e1;
      }

      .md-text-field {
        text-align: center;

        &[placeholder] {
          color: #5078e1;
        }
      }
    }

    .danger-text {
      margin-bottom: 10px;
      color: #fc0d1b;
      font-size: 16px;
      font-weight: 500;
    }

    .blue-text {
      color: #5078e1;
      font-size: 16px;
      font-weight: 500;
    }
  }

  .md-dialog-footer {
    justify-content: center;
    padding: 0 16px 16px;
    border-top: none;

    .md-btn {
      flex: 0 1 30%;
      border-radius: 18px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);

      &.cancel-button {
        color: #7c7c7c;
      }
    }
  }
}
