.broker-page {
  padding: 0 4.02vw;

  &-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 12px 0;
    gap: 12px;

    .md-background--card {
      width: 100%;
      border-radius: 8px;
      background: #fff;

      &.md-paper--1 {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      }

      .md-card-title {
        align-items: flex-start;

        .md-text {
          margin-bottom: 8px;
          color: #3d3d3e;
          font-size: 18px;
          font-weight: bold;
        }
      }

      .md-avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 50%;
        text-align: center;
      }
    }

    .info {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      gap: 18px;

      .label {
        color: #7c7c7c;
        font-size: 14px;
      }

      .sep {
        width: 1px;
        height: 10px;
        background: #d6d1d1;
      }
    }

    .email {
      display: flex;
      color: #7c7c7c;

      .address {
        color: #7c7c7c;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
