.broker-page {
  padding: 0 4.02vw 4vh;

  &-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 12px 0;
    gap: 12px;

    .md-background--card {
      width: 100%;
      border-radius: 8px;
      background: #fff;

      &.md-paper--1 {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      }

      .md-card-title {
        align-items: flex-start;

        .md-text {
          margin-bottom: 8px;
          color: #171d22;
          font-size: 18px;
          font-weight: bold;
        }
      }

      .md-avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 50%;
        text-align: center;
      }
    }

    .info {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      gap: 18px;
    }

    .label {
      display: flex;
      align-items: center;
      color: #6d7893;
      font-size: 14px;

      .md-icon {
        color: inherit;
        font-size: 16px;
      }
    }

    .sep {
      width: 1px;
      height: 10px;
      background: #6d7893;
    }

    .email {
      display: flex;
      color: #6d7893;

      .address {
        display: flex;
        align-items: center;
        color: #6d7893;
        font-size: 14px;
        font-weight: 500;

        .md-icon {
          color: inherit;
          font-size: 16px;
        }
      }
    }
  }
}
