.contact-info-dialog {
  .md-dialog {
    width: auto;
    border-radius: 12px;
  }

  .md-title--dialog {
    padding: 12px 24px;
    padding-bottom: 20px;
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3d3d3e;
    font-size: 22px;
    font-weight: bold;

    .md-icon {
      color: #3d3d3e;
      font-size: 22px;
    }
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #5078e1;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.09;
    gap: 12px;

    .md-icon {
      color: #5078e1;
      font-size: 22px;
    }
  }
}
