.request-appointment {
  padding: 0 4.02vw 40px;
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 500;

  &-title {
    margin: 16px 0 8px;
    color: #3d3d3e;
    font-size: 18px;
    font-weight: bold;
  }

  .selectField-withShadow,
  .textField-withShadow {
    width: 100%;
    max-width: 500px;
  }

  .selected-time {
    color: red;
    cursor: pointer;
  }

  &-note {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 8px 0;
  }

  .blueText {
    color: #5078e1;
  }

  .react-calendar {
    max-width: 500px;
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 500px;
    gap: 10px;
  }

  &-btn {
    height: auto;
    border: 2px solid #5078e1;
    border-radius: 8px;
  }

  .time-chip {
    flex: 0 0 30%;
    padding: 14px 10px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    font-weight: 600;
    text-align: center;
    cursor: pointer;

    &.selected-time {
      border: solid 1px #527bde;
      color: #5078e1;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      max-width: 500px;
      padding: 8px;
      overflow: auto;
      gap: 10px;
    }
  }
}
