.request-appointment {
  padding: 0 4.02vw 40px;
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 500;

  &-title {
    margin: 16px 0 8px;
    color: #000;
    font-weight: bold;
  }

  .selectField-withShadow,
  .textField-withShadow {
    width: 100%;
    max-width: 500px;
  }

  .selected-time {
    color: red;
    cursor: pointer;
  }

  &-note {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 8px 0;
  }

  .blueText {
    color: #5078e1;
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 500px;
    gap: 10px;
  }

  &-btn {
    height: auto;
    border: 2px solid #5078e1;
    border-radius: 8px;
  }
}
