.contact-info-dialog {
  .md-dialog {
    width: 450px;
    border-radius: 35px;
  }

  .md-title--dialog {
    padding: 22px 24px 0;
    padding-bottom: 20px;
    color: #3d3d3e;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .label {
    display: block;
    color: #7c7c7c;
    font-size: 16px;
    font-weight: 500;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #5078e1;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.09;
    gap: 12px;

    .md-icon {
      color: #5078e1;
      font-size: 22px;
    }
  }

  .time-chip {
    flex: 0 0 30%;
    padding: 8px 10px;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);
    font-weight: 600;
    text-align: center;
    cursor: pointer;

    &.selected {
      border-color: #5078e1;
      color: #5078e1;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 8px;
      overflow: auto;
      gap: 10px;
    }
  }

  .md-select-field--btn {
    .md-icon {
      color: #527bde;
      font-size: 28px;
    }
  }

  .md-dialog-footer {
    justify-content: center;

    .md-btn--dialog {
      flex: 0 1 45%;
      height: 60px;
      border-radius: 18px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
      font-size: 16px;
      font-weight: bold;

      &.cancel-btn {
        color: #7c7c7c;
      }
    }
  }
}
