.notif-bull {
  // padding: 0 8px;
  position: relative;

  .notification-panel {
    position: absolute;
    z-index: 1;
    right: 0;
  }

  .md-badge--circular {
    top: 0;
    right: 4px;
    width: 16px;
    height: 16px;
    background-color: #5078e1;
    color: #fff;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 8px;
    font-weight: bold;
  }
}

.new-notif {
  display: flex;
  position: absolute;
  top: 10%;
  right: 7%;
  align-items: center;
  padding: 12px 14px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
  gap: 8px;

  .notifPoint {
    display: block;
    position: absolute;
    top: -12px;
    right: -6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5078e1;
  }
}
