.registration-page {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 100vh;
  overflow: auto;

  &-left {
    .background {
      width: 100%;
      height: auto;
      object-fit: fill;
    }
  }

  .select-language-field {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;

    &-label {
      color: #7c7c7c;
      font-size: 16px;
      font-weight: 500;
    }

    .langSelector {
      .md-icon-text {
        padding-right: 6px;
        color: #5078e1;
        font-size: 16px;
        font-weight: 500;

        &.md-drop-enter {
          transform: none;

          &.md-drop-enter-active {
            transform: none;
          }
        }
      }

      .md-icon {
        color: #5078e1;
        font-size: 24px;
      }
    }
  }

  &-right {
    padding: 100px 150px;
    // height: auto;
    text-align: center;

    &-title {
      color: #3d3d3e;
      font-size: 20px;
      font-weight: bold;
    }

    &-subtitle {
      margin-bottom: 18px;
      color: #7c7c7c;
      font-size: 18px;
      font-weight: normal;
    }

    .body {
      .tabs {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 18px;
        gap: 20px;

        .item {
          color: #ddd;
          font-size: 16px;
          font-weight: 700;
          cursor: pointer;

          &.active {
            position: relative;
            color: #1979ff;
            font-weight: 700;

            &::after {
              content: '';
              position: absolute;
              top: auto;
              right: -4px;
              bottom: -3px;
              left: 0;
              height: 3px;
              border-radius: 8px 8px 0 0;
              background-color: #1979ff;
            }
          }
        }

        .sep {
          width: 2px;
          height: 30px;
          background-color: #ddd;
        }
      }

      .view {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: stretch;

        .phone-field {
          display: flex;
          position: relative;
          z-index: 9;
          align-items: center;
          width: 100%;
          border-radius: 12px;
          background-color: #fff;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
          gap: 8px;

          .countries-dropdown {
            display: flex;
            align-items: center;
            gap: 8px;
          }

          .sep {
            width: 2px;
            height: 30px;
            background-color: #ddd;
          }

          .customSelect_wrapper_list,
          .customSelect_wrapper {
            position: unset;
          }

          .list-itemMultiPick {
            margin-top: -11px;
            border-radius: 0 0 12px 12px;
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.18);

            &::-webkit-scrollbar {
              visibility: visible;
              position: absolute;
              top: 0;
              right: 0;
              width: 15px;
              height: 100%;
              transition: all 400ms;
              opacity: 1;
            }

            &::-webkit-scrollbar-track {
              visibility: visible;
              height: 100%;
              border: 5px solid #fff;
              border-radius: 12px;
              opacity: 1;
              background-color: #d0d0d0;
              box-shadow: none;
            }

            &::-webkit-scrollbar-thumb {
              visibility: visible;
              border: 5px solid transparent;
              border-radius: 12px;
              background-color: #7c7c7c;
              box-shadow: none;
              background-clip: content-box;
            }

            &:hover {
              &::-webkit-scrollbar-track,
              &::-webkit-scrollbar,
              &::-webkit-scrollbar-thumb {
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }

        .terms-checkbox {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          //gap: px;

          .md-icon {
            border-radius: 4px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            font-size: 20px;

            &.checked {
              background-color: #1979ff;
              color: #fff;
            }

            &.unchecked {
              color: transparent;
            }
          }
        }

        .social-container {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 18px 0;
          gap: 12px;

          &-icon {
            width: 60px;
            height: 60px;
            border-radius: 16px;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            object-fit: fill;
          }
        }
      }
    }
  }

  .signUp-btn {
    width: 100%;
    height: 65px;
    margin: 18px 0;
    border-radius: 18px;
    background-color: #5078e1;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.18);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }

  .upload-images-drop-zone {
    border: dashed 2px #c0cbd7;
    border-radius: 16px;
  }

  .grey-text {
    color: #7c7c7c;
    font-size: 14px;
    font-weight: 500;
  }

  .blue-text {
    color: #5078e1;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }

  .font-size-bg {
    font-size: 16px;
  }
}

.company-logo-title {
  text-align: left;
}
